extends layout

block content
  h1= title

  form(id='mobileForm', action="/resource/mobile", method="POST")
    div.form-group
        label.mobileAttr(for='type') mobile Type
        input#name(type='text', name='type')
    div.form-group
        label.mobileAttr(for='name') mobile Name
        input#name(type='text', name='name')
    div.form-group
        label.mobileAttr(for='cost') mobile Cost
        input#cost(type='number', name='cost' min=0, max=35)
    input.button(type="submit")

  script. 
    document.forms['mobileForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.text(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Mobile cost should be $45 minimum") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 